@use "../../../../assets/styles/mixins" as mixin;

.logement {
  border-radius: 5px;
  max-width: 350px;
  cursor: pointer;
  & .imageContainer {
    height: 250px;
    width: 350px;
    margin: auto;
    @include mixin.xs {
      height: 150px;
      width: 250px;
    }
    & img {
      width: 350px;
      border-radius: 5px;
      margin: auto;
      @include mixin.xs {
        width: 250px;
      }
    }
  }
  & .title {
    text-align: center;
    margin: auto;
    @include mixin.xs {
      font-size: 0.9rem;
      width: 250px;
    }
  }
}
