@use "../../assets/styles/mixins" as mixin;

.header {
  max-height: 100px;
  @include mixin.xs {
    justify-content: space-between;
    max-height: 80px;
  }
  & .imgContainer  {
    @include mixin.xs {
      height: 30px;
      width: 120px;
    }
  }
  & .nav {
    & a {
      @include mixin.xs {
        font-size: 0.8rem;
      }
    }
    &1 {
      @include mixin.xs {
        margin-right: 15px;
      }
    }
  }
}
